TOPIC: String Based Assignment Problem

In [1]:
#Q.1 Write a program to reverse a string.

s=input("Enter a string: ")
print("Reverse of the string is: ",s[::-1])

Enter a string:  Animesh

Reverse of the string is:  hseminA

In [2]:
#Q.2 Check if a string is a palindrome

s=input("Enter a string: ")
s1=s.replace(" ", "").lower()
if(s1==s1[::-1]):
    print("String is palindrome")
else:
    print("string is not palindrome")

Enter a string:  mom

String is palindrome

In [3]:
#Q.3 Convert a string to uppercase.

s=input("Enter a string: ")
print("The upper case of string is: ",s.upper())

Enter a string:  luck

The upper case of string is:  LUCK

In [4]:
#Q.4 Convert a string to lowercase

s=input("Enter a string: ")
print("The upper case of string is: ",s.lower())

Enter a string:  gOOD

The upper case of string is:  good

In [5]:
#Q.5 Count the number of vowels in a string.

s=input("Enter a string: ")
count=0
s=s.lower()
for vowel in s:
    if vowel in "aeiou":
        count=count+1
print("Total no of vowels are: ",count)

Enter a string:  Animesh

Total no of vowels are:  3

In [6]:
#Q.6 Count the number of consonants in a string.

s=input("Enter a string: ")
count=0
s=s.lower()
for vowel in s:
    if vowel not in "aeiou":
        count=count+1
print("Total no of consonants are: ",count)

Enter a string:  Animesh

Total no of consonants are:  4

In [7]:
#Q.7  Remove all whitespaces from a string

s=input("Enter a string: ")
s=s.replace(" ", "")
print("After remove whitespaces from a string:",s)

Enter a string:  I am a student

After remove whitespaces from a string: Iamastudent

In [8]:
#Q.8 Find the length of a string without using the `len()` function

s=input("Enter a string: ")
count=0
for i in s:
    count+=1
print("length of the string is:",count)

Enter a string:  pwskills

length of the string is: 8

In [9]:
#Q.9  Check if a string contains a specific word

s=input("Enter a string: ")
word=input("Enter a word: ")
if word in s:
    print("Yes")
else:
     print("No")

Enter a string:  I am a student
Enter a word:  am

Yes

In [10]:
#Q.10 Replace a word in a string with another word.

s=input("Enter a string: ")
old=input("Enter a word to change: ")
new=input("Enter a new word: ")
s=s.replace(old, new)
print("New String is: ",s)

Enter a string:  He are a boy
Enter a word to change:  are
Enter a new word:  is

New String is:  He is a boy

In [12]:
#Q.11 Count the occurrences of a word in a string

s=input("Enter a string: ")
word=input("Enter a word: ")
c=0
c=s.count(word)
print("No of word is: ",c)

Enter a string:  aa bb cc aa
Enter a word:  aa

No of word is:  2

In [13]:
#Q.12 Find the first occurrence of a word in a string

s=input("Enter a string: ")
word=input("Enter a word: ")
c=s.find(word)
print("Index of first Occurance of the word is: ",c)

Enter a string:  aa bb cc dd cc
Enter a word:  cc

Index of first Occurance of the word is:  6

In [14]:
#Q.13 Find the last occurrence of a word in a string

s=input("Enter a string: ")
word=input("Enter a word: ")
c=s.rfind(word)
print("Index of last Occurance of the word is: ",c)

Enter a string:  aa bb cc dd bb aa
Enter a word:  bb

Index of last Occurance of the word is:  12

In [16]:
#Q.14 Split a string into a list of words.

s=input("Enter a string: ")
l=s.split()
print("list of words: ",l)

Enter a string:   He is a boy

list of words:  ['He', 'is', 'a', 'boy']

In [17]:
#Q.15 Join a list of words into a string.

l=["I","am", "a", "student"]
l=" ".join(l)
print(l)

I am a student

In [18]:
#Q.16 Convert a string where words are separated by spaces to one where words are separated by underscores.

s=input("Enter a string: ")
s=s.replace(" ", "_")
print("After remove whitespaces from a string:",s)

Enter a string:   He is lucky man

After remove whitespaces from a string: _He_is_lucky_man

In [19]:
#Q.17 Check if a string starts with a specific word or phrase.

s=input("Enter a string: ")

first_word=input("Enter the first word: ")
if first_word.startswith(first_word):
    print("The text starts with",first_word)
else:
    print("The text does not start with first word")

Enter a string:  I write this code
Enter the first word:  I

The text starts with I

In [20]:
#Q.18 Check if a string ends with a specific word or phrase

s=input("Enter a string: ")

last_word=input("Enter the last word: ")
if last_word.endswith(last_word):
    print("The text end with",last_word)
else:
    print("The text does not end with last word")

Enter a string:   I write this code
Enter the last word:  code

The text end with code

In [21]:
#Q.19 Convert a string to title case (e.g., "hello world" to "Hello World

s=input("Enter a string: ")
print("The title case of string is: ",s.title())

Enter a string:  pw skills

The title case of string is:  Pw Skills

In [22]:
#Q.20 Find the longest word in a string

string = input("Enter a string: ")

words = string.split()
longest_word = ""
max_length = 0

for word in words:
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word
print("The longest word in the string is:", longest_word)

Enter a string:   He is a good boy

The longest word in the string is: good

In [23]:
#Q.21 Find the shortest word in a string

string = input("Enter a string: ")
words = string.split()

shortest_word = words[0]  
min_length = len(shortest_word)

for word in words:
    if len(word) < min_length:
        min_length = len(word)
        shortest_word = word

print("The shortest word in the string is:", shortest_word)

Enter a string:  He is a good boy

The shortest word in the string is: a

In [24]:
#Q.22 Reverse the order of words in a string.

string = "I am a student"
s = string.split()[::-1] # reversing words in a given string
l = []
for i in s:
	l.append(i) # appending reversed words to l
print(" ".join(l)) # printing reverse words

student a am I

In [25]:
#Q.23 Check if a string is alphanumeric

s=input("Enter a string: ")
if s.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter a string:  aabb cc dd

The string is not alphanumeric.

In [26]:
#Q.24 Extract all digits from a string

s=input("Enter a string: ")

for i in s:
    if(i.isdigit()): # using isdigit() function
        print(i,end="")

Enter a string:  aacc23

23

In [27]:
#Q.25 Extract all alphabets from a string

s=input("Enter a string: ")

for i in s:
    if(i.isalpha()): # using isalpha() function
        print(i,end="")

Enter a string:  aa bb cc 345

aabbcc

In [28]:
#Q.26 Count the number of uppercase letters in a string

s=input("Enter a string: ")
count=0
for i in s:
    if(i.isupper()): # using isupper() function
        count+=1
print("The no of Uppercase letter: ",count)

Enter a string:  AniMesh

The no of Uppercase letter:  2

In [29]:
#Q.27 Count the number of lowercase letters in a string.

s=input("Enter a string: ")
count=0
for i in s:
    if(i.islower()): # using islower() function
        count+=1
print("The no of Lowercase letter: ",count)

Enter a string:  AniMesh

The no of Lowercase letter:  5

In [30]:
#Q.28 Swap the case of each character in a string

s=input("Enter a string: ")
s=s.swapcase()
print("The Swap case of string is: ",s)

Enter a string:  AnimMesh

The Swap case of string is:  aNIMmESH

In [31]:
#Q.29 Remove a specific word from a string.

text = "This is an example sentence with the word 'example' in it."
remove_word = "example"
new_text = text.replace(remove_word, '')
print(new_text)

This is an  sentence with the word '' in it.

In [32]:
#Q.30 Check if a string is a valid email address

import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'

    if re.match(pattern, email):
        return True
    else:
        return False
email = "example@email.com"
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    
    print(f"{email} is not a valid email address.")

example@email.com is a valid email address.

In [33]:
#Q.31 Extract the username from an email address string.

email = "user@example.com"
username = email.split('@')[0]
print("Username:", username)

Username: user

In [34]:
#Q.32 Extract the domain name from an email address string

email = "user@example.com"
domain = email.split('@')[1]
print("Domain:", domain)

Domain: example.com

In [35]:
#Q.33 Replace multiple spaces in a string with a single space

string = input("Enter a string: ")
words = string.split()
output_string = ' '.join(words)
print(output_string)

Enter a string:  They are      playing

They are playing

In [36]:
#Q.34 Check if a string is a valid URL.

from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage:
url = "https://www.example.com"
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.example.com is a valid URL.

In [37]:
#Q.35 Extract the protocol (http or https) from a URL string

from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    if parsed_url.scheme in ['http', 'https']:
        return parsed_url.scheme
    else:
        return None

# Example usage:
url = "https://www.example.com"
protocol = extract_protocol(url)

if protocol:
    print(f"The protocol of the URL is: {protocol}")
else:
    print("The URL does not have a valid protocol.")

The protocol of the URL is: https

In [38]:
#Q.36 Find the frequency of each character in a string

input_string = "Hello, World!"

# Create an empty dictionary to store character frequencies
char_frequency = {}

# Iterate through the string and update the character frequencies
for char in input_string:
    if char.isalnum():  # Check if the character is alphanumeric
        char_frequency[char] = char_frequency.get(char, 0) + 1

# Print the character frequencies
for char, frequency in char_frequency.items():
    print(f"'{char}': {frequency}")

'H': 1
'e': 1
'l': 3
'o': 2
'W': 1
'r': 1
'd': 1

In [39]:
#Q.37 Remove all punctuation from a string

import string

input_string = "Hello, World! This is an example string."
# Remove punctuation from the string
cleaned_string = ''.join(char for char in input_string if char not in string.punctuation)
print(cleaned_string)

Hello World This is an example string

In [40]:
#Q.38 Check if a string contains only digits

text=input("Enter a string: ")
print(text.isdigit()) #if the string is digit return True either False

Enter a string:  345

True

In [41]:
#Q.39 Check if a string contains only alphabets

text=input("Enter a string: ")
print(text.isalpha()) #if the string is only alpha return True either False

Enter a string:  good

True

In [42]:
#Q.40 Convert a string to a list of characters.

text=input("Enter a string: ")
l = list(text)
print(l)

Enter a string:  Animesh

['A', 'n', 'i', 'm', 'e', 's', 'h']

In [43]:
#Q.41 Check if two strings are anagrams

word1 = "listen"
word2 = "silent"
anagrams = sorted(word1) == sorted(word2)
print(anagrams)  # True

True

In [ ]:
#Q.42  Encode a string using a Caesar cipher

In [ ]:
#Q.43 Decode a Caesar cipher encoded string

In [44]:
#Q.44 Find the most frequent word in a string

from collections import Counter
import re

input_string = "This is a sample string. This string contains some sample words."

# Tokenize the string into words (split by spaces and remove punctuation)
words = re.findall(r'\b\w+\b', input_string.lower())

# Count the frequency of each word using Counter
word_counts = Counter(words)

# Find the most frequent word
most_common_word, most_common_count = word_counts.most_common(1)[0]

print(f"The most frequent word is '{most_common_word}' with a frequency of {most_common_count} times.")

The most frequent word is 'this' with a frequency of 2 times.

In [45]:
#Q.45 Find all unique words in a string

import re

input_string = "This is a sample string. This string contains some sample words."

# Tokenize the string into words (split by spaces and remove punctuation)
words = re.findall(r'\b\w+\b', input_string.lower())

# Create a set to store unique words
unique_words = set(words)

# Convert the set back to a list if needed
unique_words_list = list(unique_words)

print("Unique words in the string:")
for word in unique_words_list:
    print(word)

Unique words in the string:
words
sample
contains
this
string
is
a
some

In [46]:
#Q.46 Count the number of syllables in a string.

import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [ ]:
#Q.47 Check if a string contains any special characters

In [47]:
#Q.48 Remove the nth word from a string

input_string = "This is a sample sentence with some words."
n = 3  # Remove the 3rd word (which is "a")

# Split the string into words using whitespace as the separator
words = input_string.split()

# Check if the nth word exists
if 1 <= n <= len(words):
    # Remove the nth word (subtract 1 from n to get the correct index)
    del words[n - 1]

    # Join the remaining words back into a string
    new_string = ' '.join(words)
    print(new_string)
else:
    # Print the original string if n is out of range
    print(input_string)

This is sample sentence with some words.

In [48]:
#Q.49 Insert a word at the nth position in a string

input_string = "This is a sample sentence with words."
n = 3  # Insert "new" at the 3rd position (0-based index)
new_word = "new"

# Split the string into words using whitespace as the separator
words = input_string.split()

# Check if the nth position is within a valid range
if 0 <= n <= len(words):
    # Insert the new word at the specified position (use n as the index)
    words.insert(n, new_word)

    # Join the words back into a string
    new_string = ' '.join(words)
    print(new_string)
else:
    # Print the original string if n is out of range
    print(input_string)

This is a new sample sentence with words.

In [49]:
#Q.50 Convert a CSV string to a list of lists

import csv
from io import StringIO

csv_string = """Name,Age,Location
Alice,30,New York
Bob,25,Los Angeles
Charlie,35,San Francisco"""

# Use StringIO to create a file-like object from the CSV string
csv_file = StringIO(csv_string)

# Initialize a CSV reader
csv_reader = csv.reader(csv_file)

# Convert the CSV data to a list of lists
csv_data = list(csv_reader)

# Close the StringIO object (not necessary in recent Python versions)
csv_file.close()

# Print the list of lists
for row in csv_data:
    print(row)

['Name', 'Age', 'Location']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']
['Charlie', '35', 'San Francisco']

List Based Practice Problem :

In [50]:
#Q.1 Create a list with integers from 1 to 10

l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
#Q.2 Find the length of a list without using the `len()` function.
l=[1,2,3,4,5,6,7,9,3,2,49]
count=0
for i in l:
    count+=1
print("length of the list is:",count)

length of the list is: 11

In [52]:
#Q.3 Append an element to the end of a list.

l=[1,2,3,4,5,6,7,9,3,2,49]
a=int(input("Enter a no: "))
l.append(a)
print("New List:",l)

Enter a no:  100

New List: [1, 2, 3, 4, 5, 6, 7, 9, 3, 2, 49, 100]

In [53]:
#Q.4 Insert an element at a specific index in a list.

l=[1,2,3,4,5,6,7,9,3,2,49]
a=int(input("Enter a no: "))
index=int(input("Enter the index no: "))
l.insert(index, a)
print("New List:",l)

Enter a no:  100
Enter the index no:  5

New List: [1, 2, 3, 4, 5, 100, 6, 7, 9, 3, 2, 49]

In [54]:
#Q.5 Remove an element from a list by its value

l=[1,2,3,4,5,6,7,9]
a=int(input("Enter a valur to remove: "))
l.remove(a)
print("New List:",l)

Enter a valur to remove:  7

New List: [1, 2, 3, 4, 5, 6, 9]

In [55]:
#Q.6 Remove an element from a list by its index.

l=[1,2,3,4,5,6,7,9,3,2,49]
index=int(input("Enter the index no to remove: "))
l.pop(index)
print("New List:",l)

Enter the index no to remove:  4

New List: [1, 2, 3, 4, 6, 7, 9, 3, 2, 49]

In [56]:
#Q.7 Check if an element exists in a list.

l=[1,2,3,4,5,6,7,9,3,2,49]
a=int(input("Enter a element to found: "))
c=0
for i in l:
    if i==a:
        c=1

if c==1:
    print("Element is found")
else:
    print("Element is not found")

Enter a element to found:  5

Element is found

In [57]:
#Q.8 Find the index of the first occurrence of an element in a list

l=[1,2,3,4,5,6,7,9,3,2,49]
a=int(input("Enter a element to found: "))
ind=l.index(a)
print("The index of the first occurrence: ",ind)

Enter a element to found:  5

The index of the first occurrence:  4

In [58]:
#Q.9 Count the occurrences of an element in a list

l=[1,2,3,4,5,6,4,6,4,5,4,7,9,3,2,49]
a=int(input("Enter a element to found: "))
x=l.count(a)
print("No of Occurence is: ",x)

Enter a element to found:  5

No of Occurence is:  2

In [59]:
#Q.10 Reverse the order of elements in a list.

l=[1,2,3,4,5,4,7,9,3,2]
l.reverse()
print("Reverse List is",l)

Reverse List is [2, 3, 9, 7, 4, 5, 4, 3, 2, 1]

In [60]:
#Q.11 Sort a list in ascending order

l=[1,2,3,4,5,4,7,9,3,2]
l.sort()
print("Sort in ascending order List is",l)

Sort in ascending order List is [1, 2, 2, 3, 3, 4, 4, 5, 7, 9]

In [61]:
#Q.12 Sort a list in descending order.

l=[1,2,3,4,5,4,7,9,3,2]
l.sort(reverse=True)
print("Sort in descending order List is",l)

Sort in descending order List is [9, 7, 5, 4, 4, 3, 3, 2, 2, 1]

In [62]:
#Q.13 Create a list of even numbers from 1 to 20

l1=[]
for i in range(2,21,2):
    l1.append(i)
print("Even no of list",l1)

Even no of list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [63]:
#Q.14 Create a list of odd numbers from 1 to 20

l1=[]
for i in range(1,21,2):
    l1.append(i)
print("Even no of list",l1)

Even no of list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [64]:
#Q.15 Find the sum of all elements in a list

l=[1,2,3,4,5,4,7,9,3,2]
s=sum(l)
print("Sum of the List is",s)

Sum of the List is 40

In [65]:
#Q.16 Find the maximum value in a list.

l=[1,2,3,4,5,4,7,9,3,2]
s=max(l)
print("max element of the List is",s)

max element of the List is 9

In [66]:
#Q.17 Find the minimum value in a list

l=[1,2,3,4,5,4,7,9,3,2]
s=min(l)
print("min element of the List is",s)

min element of the List is 1

In [67]:
#Q.18 Create a list of squares of numbers from 1 to 10

l1=[]
for i in range(1,11):
    l1.append(i*i)
print("Squre no of list",l1)

Squre no of list [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
#Q.19 Create a list of random numbers

import random
l1=[]
n=10
for i in range(n):
    l1.append(random.randint(1,10))
print("List of random no :",l1)

List of random no : [10, 3, 1, 9, 8, 1, 10, 2, 7, 10]

In [69]:
#Q.20 Remove duplicates from a list.

l=[2,3,4,5,4,7,9,3,2]
l=list(set(l))
print("After remove the duplicate element of the List is",l)

After remove the duplicate element of the List is [2, 3, 4, 5, 7, 9]

In [70]:
#Q.21 Find the common elements between two lists.

l1=[1,3,4,5,4,7,9,3,2]
l2=[4,5,3,2,7,8,10,23]
l=list(set(l1).intersection(l2))
print("Common element of the List is",l)

Common element of the List is [2, 3, 4, 5, 7]

In [71]:
#Q.22 Find the difference between two lists


l1= [4, 9, 2, 3]
l2= [4, 0, 1]

diff= set(l1) - set(l2)
result= list(diff)

print("Diffrence between two list",result)

Diffrence between two list [9, 2, 3]

In [72]:
#Q.23 Merge two lists.

l1= [4, 9, 2, 3]
l2= [4, 0, 1]

merge=l1+l2
print("Merge of two list",merge)

Merge of two list [4, 9, 2, 3, 4, 0, 1]

In [76]:
#Q.24 Multiply all elements in a list by 2.

l1=[2,3,1,5,7,4]
for i in range(len(l1)):
    l1.append(l1[i]*2)
print("Multiply by 2 of list",l1)

Multiply by 2 of list [2, 3, 1, 5, 7, 4, 4, 6, 2, 10, 14, 8]

In [77]:
#Q.25 Filter out all even numbers from a list.

l1=[2,3,1,5,7,4]
l2=[]
for i in range(len(l1)):
    if(l1[i]%2==0):
        l2.append(l1[i])
print("Even numbers of list",l2)

Even numbers of list [2, 4]

In [78]:
#Q.26 Convert a list of strings to a list of integers

l=['1','4','3','5','7','2']
for i in range(0,len(l)):
    l[i]=int(l[i])
print("List of Integers: ",l)

List of Integers:  [1, 4, 3, 5, 7, 2]

In [79]:
#Q.27 Convert a list of integers to a list of strings

l1=[2,3,1,5,7,4]
for i in range(0,len(l1)):
    l1[i]=str(l1[i])
print("List of String: ",l1)

List of String:  ['2', '3', '1', '5', '7', '4']

In [80]:
#Q.28 Flatten a nested list.

import numpy as np

l = [[11, 33], [22, 55], [11], [77, 88]]

new = list(np.concatenate(l))

print(new)

[11, 33, 22, 55, 11, 77, 88]

In [81]:
#Q.29 Create a list of the first 10 Fibonacci numbers

num=10
n1, n2 = 0, 1
l=[0,1]
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    l.append(n3)
print("Fibonacci Series:",l)

Fibonacci Series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [82]:
#Q.30 Check if a list is sorted.

def is_sorted(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True

my_list = [1, 2, 6, 4, 5]
if is_sorted(my_list):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is not sorted.

In [83]:
#Q.31 Rotate a list to the left by `n` positions.

original_list = [1, 2, 3, 4, 5]
n = 2  # Rotate left by 2 positions
n = n % len(original_list)  # Ensure n is within the length of the list
rotated_list = original_list[n:] + original_list[:n]
print(rotated_list)

[3, 4, 5, 1, 2]

In [84]:
#Q.32 Rotate a list to the right by `n` positions

original_list = [1, 2, 3, 4, 5]
n = 2  # Rotate right by 2 positions
n = n % len(original_list)  # Ensure n is within the length of the list
rotated_list = original_list[-n:] + original_list[:-n]
print(rotated_list)

[4, 5, 1, 2, 3]

In [85]:
#Q.33 Create a list of prime numbers up to 50

def prime(x, y):
	prime_list = []
	for i in range(x, y):
		if i == 0 or i == 1:
			continue
		else:
			for j in range(2, int(i/2)+1):
				if i % j == 0:
					break
			else:
				prime_list.append(i)
	return prime_list

l = prime(2,51)
print("The prime numbers till 50: ", l)

The prime numbers till 50:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [86]:
#Q.34 Split a list into chunks of size `n`.

l1= [1, 2, 3, 4, 5, 6, 7, 8, 9]
size= len(l1)
chunk = 3
for i in range(0,size,chunk):
	x = i
	print(l1[x:x+chunk])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [87]:
#Q.35 Find the second largest number in a list.

l1= [1, 2, 3, 4, 5, 6, 7, 8, 9]
l1.sort(reverse=True) #sort the list in descending order 
print("Second Largest element of the list is: ",l1[1]) #print the 2nd element

Second Largest element of the list is:  8

In [88]:
#Q.36 Replace every element in a list with its square.

l1= [1, 6, 3, 10, 8, 2, 7, 5, 9]
l2=[]
for i in range(len(l1)):
    l2.append(l1[i]*l1[i])
print("Squre no of list",l2)

Squre no of list [1, 36, 9, 100, 64, 4, 49, 25, 81]

In [89]:
#Q.37 Convert a list to a dictionary where list elements become keys and their indices become values.

l1 = ['apple', 'banana', 'cherry', 'date']
# Using dictionary comprehension to create the dictionary
dic = {element: index for index, element in enumerate(l1)} #In this code, we iterate through the list using enumerate() to get both the index and the element
print(dic)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [90]:
#Q.38 Shuffle the elements of a list randomly

import random
my_list = [1, 2, 3, 4, 5]
# Shuffle the list randomly
random.shuffle(my_list)
print(my_list)

[4, 1, 3, 5, 2]

In [92]:
#Q.39 Create a list of the first 10 factorial numbers.

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(1, 11)]

print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [93]:
#Q.40 Check if two lists have at least one element in common.

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Convert the lists to sets
set1 = set(list1)
set2 = set(list2)

# Check if there is any intersection between the sets
if set1.intersection(set2):
    print("The two lists have at least one common element.")
else:
    print("The two lists have no common elements.")

The two lists have at least one common element.

In [94]:
#Q.41 Remove all elements from a list

list1 = [1, 2, 3, 4, 5]
list1.clear()
print(list1)

[]

In [95]:
#Q.42 Replace negative numbers in a list with 0.

list1 = [1, -2, 3, -4, 5]
for i in range(len(list1)):
    if list1[i] < 0:
        list1[i] = 0
print("List after replacing negative numbers:", list1)

List after replacing negative numbers: [1, 0, 3, 0, 5]

In [96]:
#Q.43 Convert a string into a list of words

s="I am a student"
s=s.split()
print(s)

['I', 'am', 'a', 'student']

In [97]:
#Q.44 Convert a list of words into a string

l=["I","am","a","student"]
l= " ".join(l)
print(l)

I am a student

In [98]:
#Q.45 Create a list of the first `n` powers of 2.

n = 10
powers_of_2 = [2 ** i for i in range(n)]
print("powers of 2 list:",powers_of_2)

powers of 2 list: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [99]:
#Q.46 Find the longest string in a list of strings.

list = ["blue", "green", "yellow", "red", "violet"]
longest_string = ""
for s in list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: yellow

In [100]:
#Q.47 Find the shortest string in a list of strings.

list = ["blue", "green", "yellow", "red", "violet"]
shortest_string = list[0]
for s in list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest_string:", shortest_string)

Shortest_string: red

In [101]:
#Q.48 Create a list of the first `n` triangular numbers

n = 10
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
print("list of triangular_numbers:", triangular_numbers)

list of triangular_numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [102]:
#Q.49 Check if a list contains another list as a subsequence

sequence = [1, 2, 3, 4, 5, 6, 7]
subsequence = [2, 4, 6]

sub_len = len(subsequence)
seq_len = len(sequence)
i = j = 0

while i < sub_len and j < seq_len:
    if subsequence[i] == sequence[j]:
        i += 1
    j += 1

if i == sub_len:
    print(True)  # subsequence is found in the sequence
else:
    print(False)  # subsequence is not found in the sequence

True

In [103]:
#Q.50 Swap two elements in a list by their indices

list1 = [10,20,30,40,50]

index1 = int(input("Enter the first index: ")) 
index2 = int(input("Enter the second index: ")) 

temp = list1[index1]
list1[index1] = list1[index2]
list1[index2] = temp

# Print the list after the swap
print(list1)

Enter the first index:  2
Enter the second index:  4

[10, 20, 50, 40, 30]

Tuple Based Practice Problem :

In [104]:
#Q.1 Create a tuple with integers from 1 to 5.

l=[]
for i in range(1,6):
    l.append(i)
l=tuple(l)
print(l)

(1, 2, 3, 4, 5)

In [105]:
#Q.2 Access the third element of a tuple.

t1=(1,2,3,4,5,6)
third_element= t1[2]
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 3

In [106]:
#Q.3 Find the length of a tuple without using the `len()` function.

t1 = (10, 20, 30, 40, 50)
count = 0
for i in t1:
    count += 1
print("The length of the tuple is:", count)

The length of the tuple is: 5

In [107]:
#Q.4 Count the occurrences of an element in a tuple

t1 = (1, 2, 2, 3, 4, 2, 5, 2)

element = 2
count = t1.count(element)

print(f"The element {element} appears {count} times in the tuple.")

The element 2 appears 4 times in the tuple.

In [108]:
#Q.5 Find the index of the first occurrence of an element in a tuple.

t1 = (1, 2, 2, 3, 4, 2, 5, 2)
element = 2
index = t1.index(element)
print("Index of the first occurrence: ",index)

Index of the first occurrence:  1

In [109]:
#Q.6 Check if an element exists in a tuple

t1 = (10,20,30,40,50,60)
element = 30

if element in t1:
    print( "Element exists in the tuple.")
else:
    print("Element exists in the tuple.")

Element exists in the tuple.

In [113]:
#Q.7 Convert a tuple to a list.


t1 = (10,20,30,40,50,60)
l1 = list(t1)
print("Tuple:",t1)
print("List:",l1)

Tuple: (10, 20, 30, 40, 50, 60)
List: []

In [112]:
#Q.8 Convert a list to a tuple

l1 = [10,20,30,40,50,60]
t1 = tuple(l1)

print("List:",l1)
print("Tuple:",t1)

List: [10, 20, 30, 40, 50, 60]
Tuple: (10, 20, 30, 40, 50, 60)

In [116]:
#Q.9 Unpack the elements of a tuple into variables

t1 = (10, 20, 30)
a,b,c = t1

print("var1:", a)
print("var2:", b)
print("var3:", c)

var1: 10
var2: 20
var3: 30

In [117]:
#Q.10 Create a tuple of even numbers from 1 to 10

l1 = [item for item in range(2, 11, 2)]
t1 = tuple(l1)
print("Tuple of even numbers:", t1)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [118]:
#Q.11 Create a tuple of odd numbers from 1 to 10.

l1 = [item for item in range(1, 11, 2)]
t1 = tuple(l1)
print("Tuple of odd numbers:", t1)

Tuple of odd numbers: (1, 3, 5, 7, 9)

In [119]:
#Q.12 Concatenate two tuples

t1 = (1, 2, 3)
t2 = (4, 5, 6)
t = t1 + t2

print("Concatenated tuple:", t)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [120]:
#Q.13 Repeat a tuple three times.

t1 = (1, 2, 3)
new = t1 * 3
print("Repeated tuple:", new)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [121]:
#Q.14 Check if a tuple is empty.

empty_tuple = ()
# Check if the tuple is empty
if len(empty_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [122]:
#Q.15 Create a nested tuple.

nested = ((10,20,30), ('A', 'B', 'C'), (True, False))
print("Nested tuple:", nested)

Nested tuple: ((10, 20, 30), ('A', 'B', 'C'), (True, False))

In [123]:
#Q.16 Access the first element of a nested tuple

nested = ((10,20,30), ('A', 'B', 'C'), (True, False))
first_element = nested[0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (10, 20, 30)

In [124]:
#Q.17 Create a tuple with a single element

single = (42,)
print("Single element tuple:", single)

Single element tuple: (42,)

In [125]:
#Q.18 Compare two tuples.

t1 = (10,20,30)
t2 = (10,30,40)

print("tuple1 == tuple2:", t1 == t2)  # Equality check
print("tuple1 != tuple2:", t1 != t2)  # Inequality check
print("tuple1 < tuple2:", t1 < t2)    # Less than check
print("tuple1 <= tuple2:", t1 <= t2)  # Less than or equal to check
print("tuple1 > tuple2:", t1 > t2)    # Greater than check
print("tuple1 >= tuple2:", t1 >= t2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [126]:
#Q.19 Delete a tuple.

t1 = (10,20,30)
del t1
print(t1) #Try to access the tuple (will raise a NameError)

NameError: name 't1' is not defined

In [127]:
#Q.20 Slice a tuple. 

t1 = (10,20,30,40,50,60,70,80,90,100)
sliced=t1[3:8]
print("Sliced tuple:", sliced)

Sliced tuple: (40, 50, 60, 70, 80)

In [128]:
#Q.21 Find the maximum value in a tuple.

t1 = (10,20,30,40,50,60,70,80,90,100)
max_value = max(t1)
print("Max value of the tuple:", max_value)

Max value of the tuple: 100

In [130]:
#Q.22 Find the minimum value in a tuple

t1 = (10,20,30,40,50,60,70,80,90,100)
min_value = min(t1)
print("Min value of the tuple:", min_value)

Min value of the tuple: 10

In [ ]:
#Q.23 Convert a string to a tuple of characters.

strring= " Online class"
characters = tuple(string)
print("Tuple of characters:", characters)

In [132]:
#Q.24 Convert a tuple of characters to a string.

characters = ['O','n','l','i','n','e', ' ' , 'c','l','a','s','s']
tuple1 = ''.join(characters)
print("String from tuple:", tuple1)

String from tuple: Online class

In [134]:
#Q.25 Create a tuple from multiple data types.

mixed = (1,2,"Animesh",'samanta',2.5,True)
print("Multiple data types tuple: ",mixed)

Multiple data types tuple:  (1, 2, 'Animesh', 'samanta', 2.5, True)

In [135]:
#Q.26 Check if two tuples are identical

t1 = (10,20,30)
t2 = (10,30,40)
if t1==t2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are not identical

In [136]:
#Q.27 Sort the elements of a tuple

t1 = (10,40,20,70,30,50)
sorted_tuple = tuple(sorted(t1))
print("Sorted tuple is :", sorted_tuple)

Sorted tuple is : (10, 20, 30, 40, 50, 70)

In [137]:
#Q.28 Convert a tuple of integers to a tuple of strings

t1 = (10,40,20,70,30,50)
tuple_of_strings = tuple(str(item) for item in t1)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('10', '40', '20', '70', '30', '50')

In [138]:
#Q.29 Convert a tuple of strings to a tuple of integers

t1 = ('10','40','20','70','30','50')
tuple_of_integers = tuple(int(item) for item in t1)
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 40, 20, 70, 30, 50)

In [139]:
#Q.30 Merge two tuples.

t1 = (10,20,30)
t2 = (10,30,40)
merged = t1+t2
print("Merged tuple:", merged)

Merged tuple: (10, 20, 30, 10, 30, 40)

In [140]:
#Q.31 Flatten a nested tuple.

def flatten_nested_tuple(nested_tuple):
    flat_tuple = ()
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_tuple += flatten_nested_tuple(item)
        else:
            flat_tuple += (item,)
    return flat_tuple


nested_tuple = (1, (2, 3), (4, (5, 6)), 7)
flat_result = flatten_nested_tuple(nested_tuple)
print(flat_result)

(1, 2, 3, 4, 5, 6, 7)

In [141]:
#Q.32 Create a tuple of the first 5 prime numbers.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = []
num = 2
while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.append(num)
    num += 1

prime_tuple = tuple(prime_numbers)

print(prime_tuple)

(2, 3, 5, 7, 11)

In [142]:
#Q.33 Check if a tuple is a palindrome.

t1 = (1, 2, 3, 2, 1)
# Check if the tuple is a palindrome
if t1 == t1[::-1]:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [143]:
#Q.34 Create a tuple of squares of numbers from 1 to 5.

square = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", square)

Tuple of squares: (1, 4, 9, 16, 25)

In [144]:
#Q.35 Filter out all even numbers from a tuple

t1 = (10,23,33,40,44,60,56,80,90,55)
even = tuple(num for num in t1 if num % 2 != 0)
print(" Filter out all Even numbers of tuple: ",even)

 Filter out all Even numbers of tuple:  (23, 33, 55)

In [145]:
#Q.36 Multiply all elements in a tuple by 2.

t1 = (10,23,33,40,44,60,56,80,90,55)
multy = tuple(num*2 for num in t1 )
print("  Multiply all elements in a tuple by 2: ",multy)

  Multiply all elements in a tuple by 2:  (20, 46, 66, 80, 88, 120, 112, 160, 180, 110)

In [146]:
#Q.37 Create a tuple of random numbers

import random
random_tuple = tuple(random.randint(1, 100) for i in range(10))
print("Random tuple is:", random_tuple)

Random tuple is: (11, 60, 44, 27, 65, 18, 52, 23, 54, 54)

In [147]:
#Q.38 Check if a tuple is sorted.

t1 = (1, 2, 3, 4, 5)
if t1 == tuple(sorted(t1)):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

In [148]:
#Q.39 Rotate a tuple to the left by `n` positions

original_tuple = (1, 2, 3, 4, 5)
n = 2  # Rotate left by 2 positions
n = n % len(original_tuple)  # Ensure n is within the length of the list
rotated_tuple = original_tuple[n:] + original_tuple[:n]
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [149]:
#Q40 Rotate a tuple to the right by `n` positions

original_tuple = (1, 2, 3, 4, 5)
n = 2  # Rotate right by 2 positions
n = n % len(original_tuple)  # Ensure n is within the length of the list
rotated_tuple = original_tuple[-n:] + original_tuple[:-n]
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [150]:
#Q41 Create a tuple of the first 5 Fibonacci numbers

num=5
n1, n2 = 0, 1
l=[0,1]
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    l.append(n3)
print("Fibonacci Series:",tuple(l))

Fibonacci Series: (0, 1, 1, 2, 3)

In [151]:
#Q42 Create a tuple from user input.

x = input("Enter elements separated by commas: ")
list1 = x.split(',')
tuple1 = tuple(list1)
print("User input tuple is:", tuple1)

Enter elements separated by commas:   He,is,a,boy

User input tuple is: (' He', 'is', 'a', 'boy')

In [ ]:
#Q43 Swap two elements in a tuple.

tuple1 = (10,20,30,40,50)
tuple1 = list(tuple1)
index1 = int(input("Enter the first index: ")) 
index2 = int(input("Enter the second index: ")) 

temp = tuple1[index1]
tuple1[index1] = tuple1[index2]
tuple1[index2] = temp
tuple1=tuple(tuple1)
# Print the list after the swap
print(tuple1)

In [154]:
#Q44 Reverse the elements of a tuple

tuple1 = (1, 2, 3, 4, 5)
reversed_tuple = tuple1[::-1]
print("Reversed tuple is: ", reversed_tuple)

Reversed tuple is:  (5, 4, 3, 2, 1)

In [155]:
#Q45 Create a tuple of the first `n` powers of 2

n = 5
tuple1 = tuple(2 ** i for i in range(n))
print("Tuple of powers of 2:", tuple1)

Tuple of powers of 2: (1, 2, 4, 8, 16)

In [156]:
#Q46 Find the longest string in a tuple of strings.

tuple1 = ("blue", "green", "yellow", "red", "violet")
longest_string = ""
for s in tuple1:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: yellow

In [157]:
#Q47 Find the shortest string in a tuple of strings.


tuple1 = ("blue", "green", "yellow", "red", "violet")
shortest_string = list[0]
for s in tuple1:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest_string:", shortest_string)

Shortest_string: red

In [158]:
#Q48 Create a tuple of the first `n` triangular numbers.

n = 10
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
print("list of triangular_numbers:", tuple(triangular_numbers))

list of triangular_numbers: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [159]:
#Q49 Check if a tuple contains another tuple as a subsequence.

sequence = (1, 2, 3, 4, 5, 6, 7)
subsequence = (2, 4, 6)

sub_len = len(subsequence)
seq_len = len(sequence)
i = j = 0

while i < sub_len and j < seq_len:
    if subsequence[i] == sequence[j]:
        i += 1
    j += 1

if i == sub_len:
    print(True)  # subsequence is found in the sequence
else:
    print(False)  # subsequence is not found in the sequence

True

In [160]:
#Q50 Create a tuple of alternating 1s and 0s of length `n`.


n = 10
tuple1 = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", tuple1)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
Set Based Practice Problem

In [161]:
#Q.1 Create a set with integers from 1 to 5.

set1 = set()

set1.add(1)
set1.add(2)
set1.add(3)
set1.add(4)
set1.add(5)

print(set1)

{1, 2, 3, 4, 5}

In [163]:
#Q.2 Add an element to a set

set1 = {1, 2, 3, 4, 5}
print("Original set:", set1)
element=int(input("Enter a element to add: "))
set1.add(element)
print("Set after adding element:", set1)

Original set: {1, 2, 3, 4, 5}

Enter a element to add:  9

Set after adding element: {1, 2, 3, 4, 5, 9}

In [166]:
#Q.3 Remove an element from a set.

set1 = {1, 2, 3, 4, 5}
print("Original set:", set1)
element=int(input("Enter a element to remove: "))

set1.remove(element)
print("Set after adding element:", set1)

Original set: {1, 2, 3, 4, 5}

Enter a element to remove:  4

Set after adding element: {1, 2, 3, 5}

In [168]:
#Q.4 Check if an element exists in a set.

set1 = {1, 2, 3, 4, 5}
element = int(input("Enter a element to check: "))
if element in set1:
    print(f"{element} exists in the set.")
else:
    print(f"{element} not exists in the set.")

Enter a element to check:  3

3 exists in the set.

In [170]:
#Q.5 Find the length of a set without using the `len()` function.

set1 = {1, 2, 3, 4, 5}
count=0
for i in set1:
    count += 1
print("Length of the set:", count)

Length of the set: 5

In [171]:
#Q.6 Clear all elements from a set

set1 = {1, 2, 3, 4, 5}
print("Original set:", set1)
set1.clear()
print("Set after cclearing element:", set1)

Original set: {1, 2, 3, 4, 5}
Set after cclearing element: set()

In [172]:
#Q.7 Create a set of even numbers from 1 to 10.

set1 = set()
for i in range(1, 11):
    if i % 2 == 0:
        set1.add(i)
print("Even no of set is :",set1)

Even no of set is : {2, 4, 6, 8, 10}

In [173]:
#Q.8 Create a set of odd numbers from 1 to 10

set1 = set()
for i in range(1, 11):
    if i % 2 != 0:
        set1.add(i)
print("ODD no of set is :",set1)

ODD no of set is : {1, 3, 5, 7, 9}

In [174]:
#Q.9 Find the union of two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
result = set1.union(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [175]:
#Q.10 Find the intersection of two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
result = set1.intersection(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection of Set 1 and Set 2:", result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Intersection of Set 1 and Set 2: {4, 5}

In [176]:
#Q.11 Find the difference between two sets

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
result = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Deference of Set 1 and Set 2:", result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Deference of Set 1 and Set 2: {1, 2, 3}

In [177]:
#Q.12 Check if a set is a subset of another set.

set1 = {1, 2, 3, 4, 5,6,7,8,9,10}
set2 = {1, 5, 7}
subset = set1.issubset(set2)
print("Is set1 a subset of set2:", subset)

Is set1 a subset of set2: False

In [178]:
#Q.13 Check if a set is a superset of another set

set1 = {1, 2, 3, 4, 5,6,7,8,9,10}
set2 = {1, 5, 7}
superset = set1.issuperset(set2)
print("Is set1 a subset of set2:", superset)

Is set1 a subset of set2: True

In [179]:
#Q.14 Create a set from a list.

list1 = [1, 2, 3, 4, 5,6,7,8,9,10]
set1 = set(list1)

print("Original List:", list1)
print("Set from List:", set1)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Set from List: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#Q.15 Convert a set to a list.

set1 = {1, 2, 3, 4, 5,6,7,8,9,10}
list1 = list(set1)

print("Original set:", set1)
print("Set to List:", list1)

In [ ]:
#Q.16 Remove a random element from a set

import random 
set1 = {1, 2, 3, 4, 5}

print("Original set:", set1)
element = random.choice(list(set1))

set1.remove(element)

print("New set after removing", element, ":",set1)

In [185]:
#Q.17 Pop an element from a set

set1 = {1, 2, 3, 4, 5}

print("Original set:", set1)
element = set1.pop()

print("Popped element:",element)
print("Set after popping:",set1)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [186]:
#Q.18 Check if two sets have no elements in common.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
result = set1.intersection(set2)

if not result:
    print("The two sets have no common element.")
else:
    print("The two sets have common elements:", result)

The two sets have common elements: {4, 5}

In [187]:
#Q.19 Find the symmetric difference between two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference = set1 ^ set2
print("Symmetric Difference:", difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [188]:
#Q.20 Update a set with elements from another set.

set1 = {1, 2, 5,7,9}
set2 = {4, 5, 6}
set1.update(set2)
print("Updated Set 1:", set1)

Updated Set 1: {1, 2, 4, 5, 6, 7, 9}

In [189]:
#Q.21 Create a set of the first 5 prime numbers

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = set()
num = 2
while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.add(num)
    num += 1


print("Set of the first 5 prime numbers:", prime_numbers)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [190]:
#Q.22 Check if two sets are identical

set1 = {1, 5, 3, 4, 2}
set2 = {2, 1, 5, 3, 4}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [191]:
#Q.23 Create a frozen set.

elements = [1, 2, 3, 4, 5]
frozen_set = frozenset(elements)
print("Frozen Set is:",frozen_set)

Frozen Set is: frozenset({1, 2, 3, 4, 5})

In [192]:
#Q.24 Check if a set is disjoint with another set.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
result = set1.isdisjoint(set2)
print("Disjoint of Set 1 and Set 2:", result)

Disjoint of Set 1 and Set 2: False

In [193]:
#Q.25 Create a set of squares of numbers from 1 to 5.

squares = set()
for i in range(1, 6):
    result = i ** 2
    squares.add(result)
print(squares)

{1, 4, 9, 16, 25}

In [195]:
#Q.26 Filter out all even numbers from a set.


set1 = {1, 2, 3, 4, 5}

even_set = set()
for i in even_set:
    if i % 2 == 0:
        even_set.add(i)

print("Original Set is:", set1)
print("Even Numbers Set is:", even_set)

Original Set is: {1, 2, 3, 4, 5}
Even Numbers Set is: set()

In [196]:
#Q.27 Multiply all elements in a set by 2.

multi = set()
for i in range(1, 6):
    result = i * 2
    multi.add(result)
print("Multiply all elements in a set by 2: ", multi)

Multiply all elements in a set by 2:  {2, 4, 6, 8, 10}

In [197]:
#Q.28 Create a set of random numbers

import random
random_set = set()

for i in range(5):
    num = random.randint(1, 50) 
    random_set.add(num)
print("Set of random numbers:", random_set)

Set of random numbers: {2, 17, 25, 27, 31}

In [199]:
#Q.29 Check if a set is empty.

set1 = set()
if not set1:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [200]:
#Q.30 Create a nested set (hint: use frozenset).

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}

print("Nested Set is:", nested_set)

Nested Set is: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [201]:
#Q.31 Remove an element from a set using the discard method

set1 = {1, 2, 3, 4, 5}
print("Orginal set:", set1)

element=int(input("Enter a element to remove: "))
set1.discard(element)
print("Set after removing", element, ":", set1)

Orginal set: {1, 2, 3, 4, 5}

Enter a element to remove:  5

Set after removing 5 : {1, 2, 3, 4}

In [202]:
#Q.32 Compare two sets.

# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

subset = set1.issubset(set2)
superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", subset)
print("Is set2 a subset of set1?", superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [203]:
#Q.33 Create a set from a string

string = "Animesh"
set1 = set(string)
print(set1)

{'s', 'm', 'h', 'i', 'e', 'A', 'n'}

In [204]:
#Q.34 Convert a set of strings to a set of integers.

string = {'1', '2','3', '4', '5'}
integer = set()
for item in string:
    value=int(item)
    integer.add(value)
print("Original String Set:", string)
print("Converted Integer Set:", integer)

Original String Set: {'2', '1', '3', '4', '5'}
Converted Integer Set: {1, 2, 3, 4, 5}

In [205]:
#Q.35 Convert a set of integers to a set of strings.


set1 = {1, 2, 3, 4, 5}
string = set()
for item in set1:
    value=str(item)
    string.add(value)
print("Original Integer Set:", set1)
print("Converted String Set:", string)

Original Integer Set: {1, 2, 3, 4, 5}
Converted String Set: {'4', '5', '2', '1', '3'}

In [207]:
#Q.36 Create a set from a tuple.

tuple1 = (1, 2, 3, 4, 5, 6)
set1 = set(tuple1)
print("The New set is : ", set1)

The New set is :  {1, 2, 3, 4, 5, 6}

In [209]:
#Q.37 Convert a set to a tuple

set1 = {1, 2, 3, 4, 5, 6}
tuple1 = tuple(set1)
print("The New tuple is : ", tuple1)

The New tuple is :  (1, 2, 3, 4, 5, 6)

In [210]:
#Q.38 Find the maximum value in a set.

set1 = {1, 2, 3, 4, 5}
max_value = max(set1)
print("The maximum value in the set is:", max_value)

The maximum value in the set is: 5

In [211]:
#Q.39 Find the minimum value in a set

set1 = {1, 2, 3, 4, 5}
min_value = min(set1)
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 1

In [213]:
#Q.40 Create a set from user input.

set1 = set()  

while True:
    element = input("Enter an element (or 'stop' to finish): ")
    
    if element.lower() == 'stop':
        break  # Exit the loop if the user enters 'stop'
    
    try:
        integer = int(element)  # Convert user input to an integer
        set1.add(integer)  # Add the integer to the set
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

print("The set created from user input is:", set1)

Enter an element (or 'stop' to finish):  65
Enter an element (or 'stop' to finish):  65
Enter an element (or 'stop' to finish):  76
Enter an element (or 'stop' to finish):  67
Enter an element (or 'stop' to finish):  87
Enter an element (or 'stop' to finish):  stop

The set created from user input is: {65, 67, 76, 87}

In [214]:
#Q.41 Check if the intersection of two sets is empty

set1 = {1, 5, 3, 4, 2}
set2 = {2, 1, 5, 3, 4}

result = set1.intersection(set2)

if not result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [ ]:
#Q.42 Create a set of the first 5 Fibonacci numbers

fibonacci = set()
a, b = 0, 1
for i in range(6):
    fibonacci.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [ ]:
#Q.43 Remove duplicates from a list using sets.

list1 = [1, 4, 5, 8, 8, 10, 6, 12, 14, 4]

set1 = set(list1)
list2 = list(set1)

print("Original List:", list1)
print("List with Duplicates Removed:", list2)

In [217]:
#Q.44 Check if two sets have the same elements, regardless of their count

set1 = {12,90,43,56}
set2 = {43,56,12,90}
set3 = {43,56,12}

print("Set1 and Set2 equal? ",set1 == set2)
print("Set1 and Set3 equal? ",set1 == set3)

Set1 and Set2 equal?  True
Set1 and Set3 equal?  False

In [218]:
#Q.45 Create a set of the first `n` powers of 2.

power = set()
for i in range(1, 6):
    result = 2 ** i
    power.add(result)
print(power)

{32, 2, 4, 8, 16}

In [219]:
#Q.46 Find the common elements between a set and a list.

set1 = {4, 5, 6, 10, 12}
list1 = [6, 12, 5, 8]

list_to_set = set(list1)
common_elements = []

for element in set1:
    if element in list_to_set:
        common_elements.append(element)

print("Common elements between a set and a list:", common_elements)

Common elements between a set and a list: [5, 6, 12]

In [220]:
#Q.47 Create a set of the first `n` triangular numbers.

n = 10
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
print("list of triangular_numbers:", set(triangular_numbers))

list of triangular_numbers: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [221]:
#Q.48 Check if a set contains another set as a subset.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {2, 4, 6}
subset = set2.issubset(set1)

if subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [222]:
#Q.49 Create a set of alternating 1s and 0s of length `n`.

n = 10
set1 = set(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", set1)

Tuple of alternating 1s and 0s: {0, 1}

In [223]:
#Q.50 Merge multiple sets into one.

# Step 1: Create multiple sets
set1 = {10, 20, 30}
set2 = {30, 40, 50}
set3 = {60, 70, 80}

merged = set1.union(set2, set3)
print("Merged Set:", merged)

Merged Set: {80, 50, 20, 70, 40, 10, 60, 30}